@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #5446EF, #65609B);
}
main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #3a375cb2;
    width: 600px;
    padding: 10px;
    margin: auto;

}
h1 {
    color: #5C7059;
    text-align: center;
    text-shadow: 1px 1px 0px #3b4739af;
}
h2 {
    color: #F07A30;
}
p {
    text-align: justify;
}
img {
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(82, 72, 64);
    
}
